﻿body {
    box-sizing: border-box;
}

#calc-container {
    display: block;
    width: 220px;
}

    #calc-container > div {
        display: inline-block;
        width: 100%;
    }
#calc-display-area {
    width: 100%;
}
#calc-buttons > div {
display: inline-block;
}
     #calc-numbers-area {
        width: 70%;
    }
#calc-operations-area {
    width:30%;
}
     #calc-operations-area div {
       margin-right: 1px;
        margin-bottom: 1px;
        display: inline-block;
        position:relative;
        text-align:center;
        line-height:50px;
        background-color: #E2E1E0;
        width:50px;

    }

    #calc-numbers-area div {
        margin-right: 1px;
        margin-bottom: 1px;
        display: inline-block;
        position:relative;
        text-align:center;
        line-height:50px;
        background-color: #E2E1E0;
    }
#calc-container #calc-numbers-area div:not(#zero) {
width:50px;

}
#zero {
    width: 101px;
}


